@using MVCFrontend.Helpers;
@using System.Security.Claims;
@model MyData.Models.PostbackData

@{
    Layout = null;
}
<div>
    <div>
        <dl class="postback-detail">
            <dt>
                @Html.DisplayNameFor(model => model.MessageId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MessageId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AspSessionId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspSessionId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration) secs.
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                <p> @Html.Raw(Model.Content.Replace("\n", "<br/>")) </p>
            </dd>

        </dl>
    </div>
</div>
