@using MVCFrontend.Extentions
@using System.Security.Claims
@model IEnumerable<MyData.Models.PostbackData>

@{
    Layout = null;
    var username = ClaimsPrincipal.Current.Claims.Where(c => c.Type == "given_name").Select(c => c.Value).FirstOrDefault();

}
<div>
    <span class="tourTip ttScreen">Partial View</span>
    <table class="postback-overview">
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
               Arrived
            </th>
        </tr>
        @if (!Model.Any())
        {
        <tr>
            <td colspan="3">-No messages within this ASP Session-</td>
        </tr>
        }
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                <a href="#" id="openPopupDetails" class="fancyButtons" onclick="event.preventDefault();openPopupDetails(@item.Id);">Show log</a>
                <a href="#" id="deletePostback" class="txtButton" onclick="event.preventDefault();deletePostback(@item.Id);">Delete</a>
            </td>
        </tr>
    }
    
    </table>
</div>
<div id="PostbackDetails" class="postback-detail-div" style="display:none;position:absolute;top:0%;left:0%;width:100%; "></div>

<script>
    $(document).keyup(function (e) {
        if (e.keyCode === 27) { // esc
            //console.log('ESC!!!');
            $('#PostbackDetails').hide(); //slideToggle gets confused when called here
        }
    });
    function togglePopupDetails() {
        //console.log('->togglePopupDetails');
        $('#PostbackDetails').slideToggle();
    }
    function deletePostback(id) {
        CallFuncWhenCookieStillValid(DeletePostbackAjax, 'token-not-used', "#postbackResult", id);
    }
    function DeletePostbackAjax(ajaxAccessToken, resultDivId, id) {
        $.ajax({
            type: 'Post',
            dataType: 'html',
            url: '/Postbackdatas/Delete/' + id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + ajaxAccessToken);
            },
        })
        .done(function (data) {
            $(resultDivId).html(data);
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            $(resultDivId).append("<br/>Querying postback details failed: error= " + errorThrown);
        })
    }
    function openPopupDetails(id) {
        CallFuncWhenCookieStillValid(QueryDetails, 'token-not-used', "#PostbackDetails", id);
    }
    function QueryDetails(ajaxAccessToken, resultDivId, id) {
        $('#PostbackDetails').hide();
        togglePopupDetails();
        $(resultDivId).html("<h3>Loading details ... </h3>");
        $.ajax({
            type: 'Get',
            dataType: 'html',
            url: '/Postbackdatas/Details?id=' + id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + ajaxAccessToken);
            },
        })
        .done(function (data) {
            var buttonHtml = "<button id='xbutton' class='xbutton' onclick='togglePopupDetails();'>X</button>";
            $(resultDivId).html(buttonHtml + data);
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            $(resultDivId).append("<br/>Querying postback details failed: error= " + errorThrown);
        })
    }
</script>