@using System.Security.Claims
@using MVCFrontend.Helpers
@using MVCFrontend.Extentions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="@Configsettings.HostUrl()/message">Private Area</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("View Claims", "About", "Home")</li>
                        <li>@Html.ActionLink("Trigger Errors", "Index", "TriggerError")</li>
                        <li><a href="/logout">Logout</a></li>
                        <li style="color:white;">
                            <span>AspSessionID: @Session.SessionID</span><br />
                            <span>Server time: @DateTime.Now.ToLongTimeString()</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="message_box1">
        The floating message goes here
    </div>
    <div id="message_box2">
        The floating message goes here
    </div>
    <div id="message_box3">
        The floating message goes here
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @if (ClaimsPrincipal.Current.Identity.IsAuthenticated)
    {
        <script src="~/Scripts/Custom/NotificationAnimate.js"></script>
        //Socket stuff in this script
        <script>
            // Create SocketIO instance, connect
            var _gSocket = null;
            var serverUrl = '@Configsettings.SocketServerUrl()';

            function ConnectToSocketServer() {
                if ("WebSocket" in window) {
                    var qm_feed_id = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimQmFeedId)';
                    var doneToken = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimPostbackCompleted)';
                    var notification_feed_id = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimNotificationFeedId)';
                    var api_feed_id = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimApiFeedId)';
                    var socket_server_access_token = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimScoketAccess)';

                    if (qm_feed_id.length > 0) {
                        try {
                            if (_gSocket != null) {
                                //alert('closing existing socket..');
                                _gSocket.close();
                            }
                            _gSocket = new WebSocket(serverUrl, socket_server_access_token);

                            // Add a message listeners
                            _gSocket.onmessage = function (received_msg) {
                                if (msgForQmFeed(received_msg, qm_feed_id)) {
                                    handleQmFeedMsg(received_msg, qm_feed_id, doneToken);
                                }
                                else if (msgForNotificationFeed(received_msg, notification_feed_id)) {
                                    var bare_msg = stripFeedId(received_msg, notification_feed_id);
                                    displayAsNotification(bare_msg);
                                }
                                else if (msgForApiFeed(received_msg, api_feed_id)) {
                                    var bare_msg = stripFeedId(received_msg, api_feed_id);
                                    displayInApiFeed(bare_msg);
                                }
                                else {
                                    displayAsNotification("It seems other users are active on the site..");
                                }
                            };

                            _gSocket.onerror = function (socket_msg) {
                                displayInQmChat("_gSocket.onerror is triggered: " + socket_msg.data);
                            };
                            // done adding msg listeners
                            displayInQmChat("..socket log initialized. Log messages of remote system will show here..");
                        }
                        catch (ex) {
                            displayInQmChat("Exception connecting to socket server: " + serverUrl);
                            displayInQmChat(ex.message);
                        }
                    }
                    else {
                        displayInQmChat("Socket Token not set, the socket chat will not work, refresh the page.");
                    }
                }
                else {
                    displayInQmChat("webSockets are not supported on this browser, the socket chat log will not work.");
                }
            }

            function handleQmFeedMsg(socket_msg, qm_feed_id, doneToken){
                var bare_msg = stripFeedId(socket_msg, qm_feed_id);
                if (bare_msg.indexOf(doneToken.toString()) >= 0) {
                    displayInQmChat("Done token received, auto-refreshing postbacks...");
                    CallFuncWhenCookieStillValid(QueryPostbackData, 'token-not-used', "#postbackResult");
                }
                else {
                    displayInQmChat(bare_msg);
                }
            }

            function stripFeedId(socket_msg, feed_id) {
                return socket_msg.data.toString().substring(feed_id.toString().length + 6, socket_msg.data.toString().length);
            }

            function msgForQmFeed(socket_msg, qm_feed_id) {
                return socket_msg.data.toString().indexOf(qm_feed_id.toString()) === 0;
            }

            function msgForNotificationFeed(socket_msg, notification_feed_id) {
                socket_msg.data.toString().indexOf(notification_feed_id.toString()) === 0;
            }

            function msgForApiFeed(socket_msg, api_feed_id) {
                return socket_msg.data.toString().indexOf(api_feed_id.toString()) === 0;
            }

            function displayInApiFeed(msg) {
                if ($("#api-request-feed").text().startsWith("Data Api")){
                    $("#api-request-feed").html("<p>" + msg + "</p>");
                }
                else {
                    $("#api-request-feed").prepend("<p>" + msg + "</p>");
                }

            }

            function displayInQmChat(msg) {
                $("#socketChat").prepend("<p>" + msg + "</p>");
            }
    </script>
    }
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
