@using System.Security.Claims
@using MVCFrontend.Helpers
@using MVCFrontend.Extentions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="@Configsettings.HostUrl()/message">Private Area</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("View Claims", "About", "Home")</li>
                        <li>@Html.ActionLink("Trigger Errors", "Index", "TriggerError")</li>
                        <li><a href="/logout">Logout</a></li>
                        <li style="color:white;">
                            <span>AspSessionID: @Session.SessionID</span><br />
                            <span>Server time: @DateTime.Now.ToLongTimeString()</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--div id="message_box1">
        The floating message goes here
    </!div>
    <div id="message_box2">
        The floating message goes here
    </div>
    <div id="message_box3">
        The floating message goes here
    </div -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @if (ClaimsPrincipal.Current.Identity.IsAuthenticated)
    {
        <script src="~/Scripts/Custom/SocketFeed.js"></script>
        //Socket stuff in this script
        <script>
            "use strict";
            // Create SocketIO instance, connect
            var _gSocket = null;
            var serverUrl = '@Configsettings.SocketServerUrl()';
            function ConnectToSocketServer() {
                if ("WebSocket" in window) {
                    var qm_feed_id = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimQmFeedId)';
                    var doneToken = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimPostbackCompleted)';
                    var notification_feed_id = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimNotificationFeedId)';
                    var api_feed_id = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimApiFeedId)';
                    var socket_server_access_token = '@ClaimsPrincipal.Current.GetClaimValue(IdSrv3.ClaimScoketAccess)';

                    try
                    {
                        _gSocket = new WebSocket(serverUrl, socket_server_access_token);

                        // Add message listeners
                        _gSocket.onmessage = function (received_msg) {
                            var feed = createSocketFeed(received_msg, qm_feed_id, notification_feed_id, api_feed_id, doneToken);
                            feed.HandleMessage(received_msg);
                         };

                        _gSocket.onerror = function (socket_msg) {
                            QmFeed.Show("socket error: " + socket_msg.data);
                         };

                        // done adding message listeners
                        QmFeed.Show("..socket log initialized. Log messages of remote system will show here..");
                    }
                    catch (ex) {
                        QmFeed.Show("Exception connecting to socket server: " + serverUrl);
                        QmFeed.Show(ex.message);
                    }
                }
                else {
                    QmFeed.Show("webSockets are not supported on this browser, the socket chat log will not work.");
                }
            }

    </script>
    }
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
