@using MVCFrontend.Helpers
@using MVCFrontend.Extentions
@using MVCFrontend.Helpers
@using System.Security.Claims
@model MVCFrontend.Models.AboutModel
@{
    ViewBag.Title = "About";
    // Find difference between Date.Now and Date.UtcNow
    var localNow = DateTime.Now;
    var utcNow = DateTime.UtcNow;
    var difference = localNow - utcNow;

    DateTime UnoxStartDateCET = new DateTime(1970, 1, 1).AddHours(difference.TotalHours);
    string claimValue = string.Empty;
    string claimDate = string.Empty;
    string claimDateUtils = string.Empty;
    var expHit = false;
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<div>
    @ViewBag.Message, @Html.ActionLink("Send a message to a remote Message Queue", "Index", "Message")
</div>

<div>
    <p>
        <h3>All Session variables</h3>
        @if (Session.Count == 0)
        {
            <span>-none-</span>
        }
        @foreach (string key in Session.Keys)
        {
            <span><b>@key :</b></span><span>@Session[key].ToString()</span><br />
        }
    </p>
    <h3>Token & cookie values</h3>
    <p>
        <span>Token Session Start</span><span>@Model.TokenSessionStart</span>
    </p>
    <p>
        <span>Token Session end</span><span>@Model.TokenSessionEnd</span>
    </p>
    <p>
        <span>Human Token Expire (server time) </span><span>@Utils.GetTimeClaimFromToken(DateTime.Now - DateTime.UtcNow, ClaimsPrincipal.Current.GetClaimValue("access_token"), "exp");</span>
    </p>
    <p>
        <span>AjaxQueueToken Expire (server time) </span><span>@Utils.GetTimeClaimFromToken(DateTime.Now - DateTime.UtcNow, ClaimsPrincipal.Current.GetClaimValue("ajax_cors_token"), "exp");</span>
    </p>
    <p>
        <span>Auth Cookie timeout </span><span>@ClaimsPrincipal.Current.GetClaimValue("auth_cookie_exp")</span>
    </p>
    
    <h3>All claims</h3>
    @foreach (var claim in Model.Claims.OrderBy(c=>c.Type))
    {
        claimDateUtils = string.Empty;
        claimValue = claim.Value;
        <p>

            @if (claim.Type == "exp" || claim.Type == "auth_time" || claim.Type == "auth_cookie_exp")
            {
                claimDate = UnoxStartDateCET.AddSeconds(double.Parse(claim.Value)).ToLongTimeString();
                <div> <strong>@claim.Type</strong><span>,  </span>@claimDate</div>

            }
            else
            {
                <div><strong> @claim.Type</strong><span>,  </span>@claimValue </div>
            }
            </p>
    }
    </div>
