@using MVCFrontend.Helpers
@using System.Security.Claims
@using MVCFrontend.Extentions
@model MVCFrontend.Models.MessageViewModel
@{
    ViewBag.Title = "Control Panel";
    var hasRights = ClaimsPrincipal.Current.HasClaim("role", "SendMessage") || ClaimsPrincipal.Current.isAdmin();
}
<h2>@Model.UserName @ViewBag.Title</h2>
<p>
    Welcome, the following roles are listed as claims in your identity: @Model.Roles
</p>
<div class="row">
    </div>
    @if (hasRights)
    {
        <div class="row tab">
            <button id="openOnLoad" class="tablinks" onclick="openTab(event, 'SendMessage')">Drop a Message</button>
            <button class="tablinks" onclick="openTab(event, 'ServerConfig')">Server Configuration</button>
            <button class="tablinks"  onclick="openTab(event, 'RequestLog'); RefreshRequests('#RequestLog')">Request Log</button>
            <button class="tablinks"></button>
            <button class="tablinks"></button>
            <button class="tablinks" onclick="openTab(event, 'SystemLayout')">System Layout</button>
        </div>
        <div class="row">
            <div id="SendMessage" class="tabcontent">
                <div class="col-md-6">
                    <p>&nbsp;</p>
                    <p>
                        Dropped messages land in a remote Message Queue, where they get picked up by a Queue Manager. This manager will use MSMQ to offer your input to 3 configured Web Services. 
                        The use of MSMQ makes this system suitable for high volume processing.
                        The output of the web services is collected and posted using a web api of random selected type. 
                        The message and its log becomes available for inspection in the list on the right hand side.
                        <br><br>Everything that is not a "[0-9a-zA-Z-_ ]" will be stripped from your input, spaces stay.
                        <br><br>Goodluck! ;)
                    </p>
                    <form id="msgForm" action="" method="post">
                        <input type="text" name="message" /> <br />
                        <div class="wrapper"><input type="submit" value="Drop" /><span class="tourTip ttButton">Ajax CORS</span></div><span id="apiResult"></span>
                    </form>
                </div>
                <div class="col-md-3">
                    <h4>Timeout Settings</h4>
                    <span class='Info'>Auth.Cookie.SlidingExp=@Appsettings.CookieSlidingExpiration()</span><br />
                    <span class='Info'>Use.Token.Lifetime=@Appsettings.UseTokenLifetime()</span><br />
                </div>
                <div class="col-md-3">
                    <h4>Timeouts </h4>
                    <div>
                        <b>ASP Session - </b><span id="exp_asp"></span>
                    </div>
                    <div>
                        <b>Auth Cookie - </b><span id="exp_cookie"></span>
                    </div>
                    <div>
                        <b>Cors Token - </b><span id="exp_cors_token"></span>
                    </div>
                </div>
            </div>
            <div id="ServerConfig" class="tabcontent">
                <div class="col-md-4">
                    <h4>Queue processing mode</h4>
                    <div class="wrapper">
                        <button id="toggleQueue" class="fancyButtons">Toggle</button><span class="tourTip ttButton">Ajax CORS</span>
                        <span id="toggleResult"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Select 3 webservices</h4><span class="tourTip ttScreen">Ajax Partial View</span>
                    @Html.Action("Index", "ServiceSelection")
                </div>
            </div>
            <div id="SystemLayout" class="tabcontent">
                <div class="col-md-12" style="position:absolute;background-color:white;opacity:0.9;z-index:8">
                    @Html.Partial("~/Views/Docu/SystemLayout.cshtml")
                </div>
            </div>
            <div id="RequestLog" class="tabcontent col-md-12">
            </div>
        </div>
        <hr />
            <div class="row">
                <div class="col-md-8"> <div class="wrapper"><a class="fancyButtons" href="#" id="initializeChat">Re-Initialize</a><span class="tourTip ttButton">Js</span>Queue Mananger Log (=socket chat).</div></div>
                <div class="col-md-4"><div class="wrapper">Actions by Cookie Asp.NET_SessionId <a href="#" id="queryPostbackData" class="fancyButtons">Refresh</a><span class="tourTip ttButton">Ajax</span></div></div>
            </div>
            <div class="row">
                <div id="socketChat" class="col-md-8" style="border: solid 1px #3399CC; padding: 3px;"></div>
                <div id="postbackResult" class="col-md-4" style="border: solid 1px #3399CC; padding: 3px;"></div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="~/Scripts/Custom/secure-utils.js"></script>
            <script>
                $(document).ready(function () {
                    $('#msgForm').submit(function (event) {
                        event.preventDefault();
                        DropIntoQueueCors('@ClaimsPrincipal.Current.GetClaim("ajax_cors_token")', "#apiResult", $('input[name=message]').val());
                    });
                    $('#queryPostbackData').click(function (event) {
                        event.preventDefault();
                        CallFuncWhenCookieStillValid(QueryPostbackData, 'token-not-used', "#postbackResult");
                    });
                    $('#initializeChat').click(function (event) {
                        event.preventDefault();
                        InitializeChat()
                    });
                    $('#toggleQueue').click(function (event) {
                        event.preventDefault();
                        ToggleQueueStatusCors('@ClaimsPrincipal.Current.GetClaim("ajax_cors_token")', "#toggleResult");
                    });

                    //call these on page load
                    document.getElementById("openOnLoad").click();
                    GetQueueStatusCors('@ClaimsPrincipal.Current.GetClaim("ajax_cors_token")', "#toggleResult");
                    QueryPostbackData('token-not-used', '#postbackResult');
                    InitializeChat();
                });

                function openTab(evt, tabId) {
                    $(".tabcontent").hide();
                    $(".tablinks").removeClass("active");
                    $("#" + tabId).show();
                    evt.currentTarget.className += " active";
                }
                function RefreshRequests(resultDivId) {
                    CallFuncWhenCookieStillValid(GetRequestLogs, "no token, cookie", resultDivId);
                }
                function GetRequestLogs(tokenNotUsed, resultDivId) {
                    $(resultDivId).html("<h3>Getting most recent Request Logs.. </h3>");
                    $.ajax({
                        type: 'Get',
                        dataType: 'html',
                        url: '/RequestLogEntries/',
                    })
                    .done(function (htmlPartial) {
                        $(resultDivId).html(htmlPartial);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $(resultDivId).append("<br/>Querying request logs failed: error= " + errorThrown);
                    })
                }
                function InitializeChat() {
                    $("#socketChat").empty();
                    $("#socketChat").prepend("<span class='tourTip ttScreen'>Js WebSocket</span>");
                    ConnectToSocketServer();
                }
                function GetQueueStatusCors(ajaxAccessToken, resultDivId) {
                    var formData = {
                        'cmdType': "GetModus",
                        'socketToken': '@ClaimsPrincipal.Current.GetClaim("qm_socket_id")',
                    };

                    SendCmd(formData, ajaxAccessToken, resultDivId);
                }
                function ToggleQueueStatusCors(ajaxAccessToken, resultDivId) {
                    var formData = {
                        'cmdType': 'ToggleModus',
                        'socketToken': '@ClaimsPrincipal.Current.GetClaim("qm_socket_id")',
                    };

                    SendCmd(formData, ajaxAccessToken, resultDivId);
                }
                function SendCmd(formData, ajaxAccessToken, resultDivId) {
                    $.ajax({
                        type: 'POST',
                        url: '@Appsettings.EntrypointUrl()' + 'api/cmdqueue',
                        data: formData,
                        dataType: 'text',
                        encode: true,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'bearer ' + ajaxAccessToken);
                            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
                        },
                    })
                    .done(function (data) {
                        var obj = JSON.parse(data);
                        $(resultDivId).text(obj.Message);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $(resultDivId).text("Sending command failed: code=" + jqXHR.status + ", error= " + jqXHR.statusText);
                    })
                }

                function DropIntoQueueCors(ajaxAccessToken, resultDivId, data) {
                    var formData = {
                        'MessageId': data,
                        'PostBackUrl': '@string.Format("{0}/Message/Postback", Appsettings.HostUrl())',
                        'SocketToken': '@ClaimsPrincipal.Current.GetClaim("qm_socket_id")',
                        'NotificationToken': '@ClaimsPrincipal.Current.GetClaim("notification_socket_id")',
                        'DoneToken': '@ClaimsPrincipal.Current.GetClaim("msg_done_id")',
                        'UserName': '@ClaimsPrincipal.Current.GetClaim("given_name")',
                        'AspSessionId': '@Session.SessionID'
                    };

                    $.ajax({
                        type: 'POST',
                        url: '@Appsettings.EntrypointUrl()' + 'api/entryqueue',
                        data: formData,
                        dataType: 'text',
                        encode: true,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'bearer ' + ajaxAccessToken);
                            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
                        },
                    })
                    .done(function (data) {
                        var obj = JSON.parse(data);
                        $(resultDivId).text(obj.Message);
                    })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            var msg = "";
                            if (jqXHR.status == 401) {
                                msg = "AUTHENTICATION FAILED, is the Cors token expired?"
                            }
                            else {
                                msg = "<br/>Drop failed, status= " + jqXHR.status
                            }
                        $(resultDivId).append(msg);
                    })
                }
            </script>
        //
        // Session expiration counter stuff
        //
            <script>
                // the Asp Counter
                var AspCounter = setInterval(function () {
                    var resultId = '#exp_asp';
                    var expDateStr = '@DateTime.UtcNow.AddMinutes(Session.Timeout)';

                    var clientLocalNow = new Date();
                    var clientUtcNow = new Date(clientLocalNow.getUTCFullYear(),
                        clientLocalNow.getUTCMonth(), clientLocalNow.getUTCDate(),
                        clientLocalNow.getUTCHours(), clientLocalNow.getUTCMinutes(), clientLocalNow.getUTCSeconds());

                    var secs = new Date(expDateStr).getTime() - clientUtcNow.getTime();

                    if (secs < 0) {
                        setExpiredAndStop(AspCounter, resultId);
                    }
                    else {
                        var msg = getCounterDisplayMsg(secs);
                        // Display the result
                        $(resultId).text(msg);
                    }
                }, 1000);
                // auth Cookie Counter
                var CookieCounter = setInterval(function () {
                    var resultId = '#exp_cookie';

                    var expDateStr = '@Session["exp_cookie_time_utc"]';
                    var clientLocalNow = new Date();
                    var clientUtcNow = new Date(clientLocalNow.getUTCFullYear(),
                        clientLocalNow.getUTCMonth(), clientLocalNow.getUTCDate(),
                        clientLocalNow.getUTCHours(), clientLocalNow.getUTCMinutes(), clientLocalNow.getUTCSeconds());

                    var secs = new Date(expDateStr).getTime() - clientUtcNow.getTime();

                    if (secs < 0) {
                        setExpiredAndStop(CookieCounter, resultId);
                    }
                    else {
                        var msg = getCounterDisplayMsg(secs);
                        // Display the result
                        $(resultId).text(msg);
                    }
                }, 1000);

                // Cors Token Counter
                var tokenCounter = setInterval(function () {
                    var resultId = '#exp_cors_token';

                    var expDateStr = '@Session["exp_cors_token_time_utc"]';
                    var clientLocalNow = new Date();
                    var clientUtcNow = new Date(clientLocalNow.getUTCFullYear(),
                        clientLocalNow.getUTCMonth(), clientLocalNow.getUTCDate(),
                        clientLocalNow.getUTCHours(), clientLocalNow.getUTCMinutes(), clientLocalNow.getUTCSeconds());

                    var secs = new Date(expDateStr).getTime() - clientUtcNow.getTime();

                    if (secs < 0) {
                        setExpiredAndStop(tokenCounter, resultId);
                    }
                    else {
                        var msg = getCounterDisplayMsg(secs);
                        //console.log("Msg: " + msg)
                        // Display the result
                        $(resultId).text(msg);
                    }
                }, 1000);

                function getCounterDisplayMsg(secs) {
                    var hours = Math.floor((secs % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((secs % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((secs % (1000 * 60)) / 1000);

                    var hrs_relevant = hours > 0 ? hours + "h " : "";
                    return hrs_relevant + minutes + "m " + seconds + "s ";
                }

                function setExpiredAndStop(intervalRef, resultId) {
                    clearInterval(intervalRef);
                    $(resultId).text("EXPIRED");
                    $(resultId).text().fontcolor("red");
                }
            </script>
        //postback data view stuff in this script
        <script>
            function QueryPostbackData(ajaxAccessToken, resultDivId) {
                $(resultDivId).html("<h3>Loading actions.. </h3>");
                $.ajax({
                    type: 'Get',
                    dataType: 'html',
                    url: '/Postbackdatas/',
                })
                .done(function (partialView) {
                    $(resultDivId).html(partialView);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    $(resultDivId).append("<br/>Querying postback data failed: error= " + errorThrown);
                })
            }
        </script>

    }
    else
    {
        <p>Your assigned roles do not allow for sending messages.</p>
    }
